.info {
    vertical-align: middle;
}

.text {
    font-size: 34px;
    display: inline-block;
}

.edit-form{
    width: 50%;
    padding: 15px 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 20px;
    border: 1px;
    background: #899cb4;
    color: #070707;
}

.close-button, .ok-button, .edit-button {
    margin: 10px;
}

.close-button:hover, .ok-button:hover, .edit-button:hover {
    margin: 10px;
    transform: scale(1.3);
}

.user-info {
    height: 300px;
    width: 100%;
    display:inline;
    vertical-align: middle;
}